CLIENT_WATEWAY_PORT=3000

# Payments ms enviroment
PAYMENTS_MS_PORT=3003
# https://dashboard.stripe.com/apikeys
STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/payments/cancel
# Signing secret del webhook
STRIPE_ENDPOINT_SECRET=