[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/sokhunter/ShopApp-ClientGateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/sokhunter/ShopApp-ProductsMS.git
